@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ACUSE DE SOLICITUD</title>
</head>
<body>
    <div >
        <h3>SOLICITUD DE RECONOCIMIENTO DE SABERES ADQUIRIDOS</h3>
        <div>
            <div><span>Número de Expediente</span><span></span></div>
            <div><span>USUARIO</span><span></span></div>
            <div><span>PERFIL</span><span></span></div>
            <div><span>ENTIDAD FEDERATIVA</span><span></span></div>
            <p style="padding:15px; width: 500px;">
                Con fundamento en lo dispuesto por los artículos <strong> 13 y 14 de la Ley Federal de Procedimiento Administrativo; 
                del Acuerdo Secretarial 286 </strong> “por el que se establecen los lineamientos que determinan las normas y criterios
                generales, a que se ajustarán la revalidación de estudios realizados en el extranjero y la equivalencia de estudios, 
                así como los procedimientos por medio de los cuales se acreditarán conocimientos correspondientes a niveles educativos 
                o grados escolares adquiridos en forma autodidacta, a través de la experiencia laboral o con base en el régimen de
                certificación referido a la formación para el trabajo.” , específicamente en sus lineamientos 47.2 y 57.2; se ha 
                recibido con éxito su solicitud con fecha: (____________).

            </p>
        </div>
    </div>
</body>
</html>
