<p style="text-align:center;">
    Para iniciar con el Trámite de la Solicitud de Saberes  Adquiridos, <br />
    tan solo dale en el botón donde dice: <br />
    <br />
    <br />
    <a class="pure-button pure-button-primary">

        + AGREGAR UNA SOLICITUD DE SABERES ADQUIRIDOS <i class="fa fa-graduation-cap"></i>
    </a>
    <br /><br />
    <br />
    <br />
    <br />

    Recuerda tener toda la documentación lista para cargar en archivos en formato .pdf o .jpg.
</p>
