<div class="procedimientolista">
    <p>
        Seleccione que procedimiento de Solicitud de Saberes Adquiridos que desea realizar
    </p>

    <div class="procedimiento">
        <a href="/Solicitud/Register?procedimiento=general" style="">
            <div class="box-horizontal" style="width:60%; padding:15px; border:1px solid #9e9ea6; margin-top:15px; margin-bottom:20px; ">
                <h3>
                    General
                </h3>
                <p>
                    Acreditación de conocimietnos equiparables a cierto nivel educativo o grado escolar, mediante evaluaciones globales.

                </p>
                <span><button class="pure-button pure-button-primary">Seleccionar </button></span>
            </div>
        </a>
    </div>
    <div class="procedimiento">
        <a href="/Solicitud/Register?procedimiento=especifico" style="">
            <div class="box-horizontal" style="width:60%; padding:15px; border:1px solid #9e9ea6; margin-top:15px;margin-bottom:20px;">
                <h3>
                    Especifico
                </h3>
                <p>
                    Acreditación de conocimientos, habilidades o destrezas mediante la equiparación de los certificados de competencia laboral y en su caso, la realización de exámenes complementarios.

                </p>
                <span><button class="pure-button pure-button-primary">Seleccionar </button></span>
            </div>
        </a>
    </div>
</div>
