@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">UPS!!!, a Ocurrido un error muy grave, No se ha podido procesar su petión, prometemos resolverlos lo más pronto posible.</h2>

