@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Bloqueo de Cuenta";
}

<hgroup>
    <h1 class="text-danger">Bloqueo de Cuenta.</h1>
    <h2 class="text-danger">Esta Cuenta a sido Bloqueada, por favor vuelva intentarlo más tarde.</h2>
</hgroup>
