
@{
    ViewBag.Title = "DisplayEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="color:#eeb800;">Confirmación enviada al email</h2>
<hr />
<div>

    <p>
        <h3>Estás a un paso de finalizar el proceso de registro en CERTIVAL	</h3>,<br />
        El sistema de la Dirección General de Acreditación, Incorporación y Revalidación, para completarlo da clic <a>aquí.</a>
        <br />
        <br />
        En caso de que el enlace anterior no funcione, copia o escribe la siguiente dirección en tu navegador Web<br />
        <br /> <br />
        Por favor revise su correo electrónico y confirme su dirección de correo electrónico para poder utilizar <br />
        la cuentaen <strong>CERTIVAL</strong>, el sistema de la Dirección General de Acreditación, Incorporación y Revalidación<br />
        <br />
        <br />
         con él podrás tener acceso al sistema CERTIVAL.

        <h4> Bienvenido a CERTIVAL ><small> Sencillo y Rápido</small></h4>

    </p>
</div>	

