
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@using CERTIVAL.Models


@{
    ViewBag.Title = "Confirmación de Reestablecer la Contraseña";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Por favor, Revisa tu Correo Electrónico para Reestablecer la Contraseña.
    </p>
</div>
	
