
@{
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

@using CERTIVAL.Models



@{
    ViewBag.Title = "Confirmación Resetear la Contraseña ";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div>
    <p>
        Su Contraseña  a sido Reseteada. Por favor, @Html.ActionLink("da click aquí para Ingresar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
