

<div>


    <h3>Aceptación de Aviso de conformidad</h3>
    <hr />


    <ul>
        <ol>
            <p class="avisoCon">
                <strong>1.- </strong> 	Conozco y acepto el contenido de las Normas Generales para la Acreditación y Certificación
                de conocimientos terminales correspondientes a estudios del tipo superior y aquellos del
                tipo medio superior referidos a la educación profesional que no requiere bachillerato o sus equivalentes,
                adquiridos en forma autodidacta o a través de la experiencia laboral, emitidas por
                la Dirección General de Acreditación, Incorporación y Revalidación de la Secretaría de Educación Pública,
                mediante oficio circular No. DGAIR/005/2011, de fecha 16 de febrero de 2011; las obligaciones y consecuencias
                que asumo de sujetarme a los procedimientos previstos en dichas normas, y manifiesto bajo protesta de decir verdad
                que me sujeto a las mismas y a las evaluaciones derivadas de la misma de manera voluntaria. De igual forma manifiesto
                que la información que se proporciona en la solicitud de registro es verídica.

            </p>
        </ol>
        <ol>
            <p class="avisoCon">
                <strong>2.- </strong>	Doy mi consentimiento a la Dirección General de Acreditación, Incorporación y Revalidación de la Secretaría de Educación Pública, para que en términos del artículo 21 de la Ley Federal de Transparencia y Acceso a la Información Pública Gubernamental, haga uso de mis datos personales para el desahogo del presente procedimiento.
            </p>
        </ol>
        <ol>
            <p class="avisoCon">
                <strong>3.- </strong>	Los datos personales y académicos serán protegidos en términos de lo dispuesto por la Ley Federal de Transparencia y Acceso a la Información Pública Gubernamental y la Ley Federal de Protección de Datos en Posesión de Particulares, lo anterior, sin perjuicio de que estoy enterado de que en términos del artículo 22, fracción III de la citada Ley, no es necesario mi consentimiento respecto de información que se transmita entre sujetos obligados o entre dependencias y entidades, cuando los datos respectivos se utilicen para el ejercicio de facultades propias de los mismos.
            </p>

        </ol>
        <ol>
            <p class="avisoCon">
                <strong>4.- </strong>	De conformidad con lo establecido en el artículo 35, fracción II de la Ley Federa de Procedimiento Administrativo, acepto expresamente que toda comunicación y o notificación relacionada con este trámite, se realice a través de correo electrónico, por lo que asumo la responsabilidad de verificar periódicamente los mensajes recibidos en el mismo y notificar en su caso el cambio de correo electrónico.
            </p>
        </ol>

    </ul>

</div>
