@{
    ViewBag.Title = "Usuarios Solicitantes Inicio Cuenta";
}

<div ng-view>	
        <div id="views">
            <h2 class="h-views">
                MIS SOLICITUDES
            </h2>
            <div class="calender">
                <i class="fa fa-calendar"></i>
            </div>
            <div>
                <span>
                    
                </span>
            </div>
            <hr />
            <div id="content" style="margin-bottom:30px;">
               <div>
                   @Html.Partial("_ProcedimientoPartial")               


               </div>
            </div>
        </div>
</div>

