<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <SiteUrlToLaunchAfterPublish>http://certival.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>True</ExcludeApp_Data>
    <MSDeployServiceURL>certival.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>certival</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>False</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$certival</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CertivalContext" Order="1" Enabled="True">
          <Destination Path="Data Source=certivaldbserver.database.windows.net;Initial Catalog=certival_db;Persist Security Info=True;User ID=certivaluser;Password=C3rt1v9lus3r" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CERTIVAL.DAL.CertivalContext, CERTIVAL.DAL" MigrationConfiguration="CERTIVAL.DAL.Migrations.Configuration, CERTIVAL.DAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="ApplicationDbContext" Order="2" Enabled="True">
          <Destination Path="Data Source=certivaldbserver.database.windows.net;Initial Catalog=certival_db;Persist Security Info=True;User ID=certivaluser;Password=C3rt1v9lus3r" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CERTIVAL.Models.ApplicationDbContext, CERTIVAL" MigrationConfiguration="CERTIVAL.Migrations.Configuration, CERTIVAL" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Data Source=certivaldbserver.database.windows.net;Initial Catalog=certival_db;Persist Security Info=True;User ID=certivaluser;Password=C3rt1v9lus3r</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)CertivalContext-Web.config Connection String">
      <ParameterValue>Data Source=certivaldbserver.database.windows.net;Initial Catalog=certival_db;Persist Security Info=True;User ID=certivaluser;Password=C3rt1v9lus3r</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>